body {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), 
                url('https://c.pxhere.com/photos/30/58/keys_key_lock_door_symbols_access_carbine_locked-1358293.jpg!d') center/cover fixed;
    min-height: 100vh;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    body {
        width: 100%;
    }
}