body {
    min-height: 100vh;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    body {
        width: 100%;
    }
}