body {
    min-height: 100vh;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
html, body {
  overscroll-behavior: none; /* Отключает "bounce" эффект */
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: fixed; /* Фиксирует viewport */
}

@media (max-width: 768px) {
    body {
        width: 100%;
    }
}